{% extends 'base.html' %}

{% block content %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Keeping it dry -->
        {% include "availability/meeting_pane.html" %}

        <div class="col-lg-9">

            {% if meeting_list %}
            <div class="card mt-4 availability-input">
                
                <div id="meeting-not-selected">
                    <div class="availability-input availability-input-placeholder">
                        Select a meeting to view or edit your time availability.
                    </div>
                </div>
                <!-- end meeting not selected div -->
            </div>
            {% else %}
                You will need to be a member of a meeting before you can enter your time availability.
            {% endif %}
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% include "availability/js.html" %}
{% endblock %}