<div class="col-lg-3">
    <h1 class="my-4">My Meetings</h1>
    <div class="list-group">
        {% if meeting_list %}
            {% for meeting in meeting_list %}
                <a href="/meeting/availability/{{ meeting.id }}" class="avlb-meeting-label {% if meeting.id == active_meeting.id %} avlb-meeting-active {% endif %}">
                    Meeting {{ meeting.id }}: {{ meeting.description }}
                    <!-- <span class="badge avlb-badge {% if meeting.avlb_count < 1 %} no-mtg {% endif %}">
                        {{ meeting.avlb_count }}
                    </span> -->
                </a>
            {% endfor %}
        {% else %}
            <!-- <p>No meetings are available.</p> -->
            <div style="padding-bottom: 0.5em;">
                You haven't been invited to any meetings.
                <br>
                <span style="font-size: 12px;">Bring doughnuts next time and maybe you'll get invited.</span>
            </div>
        {% endif %}
    </div>
</div>
<!-- /.col-lg-3 -->