<div class="col-lg-3">
    <h1 class="my-4">My Meetings</h1>
    <div class="list-group">
        {% if meeting_list %}
            {% for id, meeting in meeting_list.items %}
                <!-- <a href="/meeting/availability/{{ meeting.id }}" data-badge="{{ meeting.avlb_count }}" class="avlb-meeting-label badge1 {% if meeting.avlb_count < 1 %} no-mtg {% endif %}">
                    {{ meeting.name }}
                </a> -->

                <a href="/meeting/availability/{{ meeting.id }}" class="avlb-meeting-label">
                    {{ meeting.name }}
                    <span class="badge {% if meeting.avlb_count < 1 %} no-mtg {% endif %}">{{ meeting.avlb_count }}</a>
                </a>
            {% endfor %}
        {% else %}
            <!-- <p>No meetings are available.</p> -->
            <div style="padding-bottom: 0.5em;">
                You haven't been invited to any meetings.
                <br>
                <span style="font-size: 12px;">Bring doughnuts next time and maybe you'll get invited.</span>
            </div>
        {% endif %}
    </div>
</div>
<!-- /.col-lg-3 -->