<div id="project-pane" class="col bg-primary text-white" style="text-align: center;">
  <h1 style="padding-top: 0.5em; padding-left: 0.5em; padding-right: 0.5em;">Projects</h1>
  {% if projects %}
    {% for key, value in projects.items %}
      {% for project in value %}
        <div class="card text-white bg-danger mb-3" style="padding-left: 1em; padding-right: 1em;">
          <div class="card-header">{{key}}</div>
          <div class="card-body">
            <h5 class="card-title">{{ project.project_name }}</h5>
            <p class="card-text">{{ project.description }}</p>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  {% else %}
	<div style="padding-bottom: 0.5em;">
	  You don't seem to have any projects.
	</div>
  {% endif %}
  <button type="button" id="create-project-btn" class="btn btn-light">Create a Project</button>
</div>
