{% extends 'base.html' %}

{% block content %}
  <div id="projects" class="row no-gutters">
    {% include "projects/project_pane.html" %}
    <div id="active-pane" class="col bg-light">

      <!-- Project creation form -->
      <div id="active-pane-create">
        <h2 style="text-align: center;">Create a Project</h2>
        {% if success %}
          <p class="text-success" style="font-size: 1.1em; font-weight: bold; text-align: center;">{{ success }}</span>
        {% endif %}

        <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="create-project-title">Project Title
              {% if errors.titleEmpty %}
                <span class="text-danger">- cannot be blank</span>
              {% endif %}
            </label>
            <input type="text"
                   class="form-control"
                   id="create-project-title"
                   name="title"
                   placeholder="Put your project title here!" />
          </div>
          <div class="form-group">
            <label for="create-project-description">Project Description
              {% if errors.descriptionEmpty %}
                <span class="text-danger">- cannot be blank</span>
              {% endif %}
            </label>
            <textarea class="form-control"
                      id="create-project-description"
                      name="description"
                      rows="5"
                      placeholder="Describe your project."></textarea>
          </div>
          <div class="form-group">
            <label for="create-project-invitees">Invitees
              {% if errors.inviteesEmpty %}
                <span class="text-danger">- cannot be blank</span>
              {% endif %}
            </label>
            <input type="text"
                   class="form-control"
                   id="create-project-invitees"
                   name="invitees"
                   placeholder="Enter the email addresses of those you are going to invite, separated by commas." />
          </div>
          <div style="text-align: center;">
            <button type="submit" class="btn btn-success">Create Your Project!</button>
          </div>
        </form>

      </div>

    </div>
  </div>
{% endblock %}