.avlb-meetings-pane {
    min-width: 15rem;
    width: 20%;
}
.avlb-meeting-title {
    font-size: 24px;
    padding-left: 30px;
}
.avlb-meeting-label {
    color: green;
    cursor: pointer;
}
.availability-input {
    padding: 15px;
}
.availability-input-placeholder {
    font-size: 24px;
}

#meeting-selected {
    display: flex;
    flex-direction: column;
}

.avlb-save-btn {
    width: 100px;
    align-self: flex-end;
    margin-top: 30px;
    letter-spacing: .75px;
}