
/* open modal */

.openb {
  float: right;
}


/* Modal overlay */

.login-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}


/* modal */

.login-modal {
  background: #fff;
  max-width: 480px;
  width: 100%;
  height: 440px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 30px;
}


/* general styles */

.login-modal h1 {
  padding-top: 0;
  margin: 0;
  font-size: 18px;
  color: #333;
  padding-bottom: 10px;
}

.login-modal h2 {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #757575;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  hyphens: auto;
  padding-bottom: 30px;
}

.login-modal .group { 
	position: relative; 
	margin-bottom: 45px; 
}
