.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

#project-pane {
    background: red;
}

#active-pane {
    background: green;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}

#cursor {
    width: 40px;
    height: 40px;
    position: absolute;
    transition: .1s ease;
    border: 3px solid #146eb4;
    border-radius: 50%;
    pointer-events: none;
    animation: animate .3s infinite alternate;
    z-index: 4
}

@keyframes animate {
    0% {
        transform: scale(.7);
    }
    50% {
        box-shadow: 0px 0px 10px #146eb4, 0px 0px 20px#146eb4, 0px 0px 30px #146eb4;
    }
    100% {
        transform: scale(1.5);
    }
}