.jumbotron
{
    /* color: #FFFFFF; */
    background-color:#FFFFFF;;
    position: relative;

}
.jumbotron h1
{
  /* color:#00cc66 */
  color:black;
}
container .h-100{
  position: relative;

}
.showDetail
{
  display:none;
  position: relative;
}
container .row{
  position: relative;
  text-align: center;
}

a
{
color: black
}

.col-lg-3 .list-group {

  position: relative;
  margin-bottom: 5rem;
  padding: 4px;
  border-radius: 5px;
  max-width: 15rem;
} 

.col-sm-2 .text-left
{
  position: relative;
  display: inline-block
}

.btn{
  margin-bottom: 1rem;
}

.col-sm-10 .row{
  /* margin-left: 3rem; */
  position: relative;
  display: inline-block

}

