.col-lg-3 h1.mt-4 {
 /* margin-left: 2rem; */
 letter-spacing: 3px;
}
.list-group.mt-4 a.list-group-item-action.active{
 opacity: .4;
 background-color: black;
 border:black;

}
.list-group.mt-4 a{
  height:2rem;
  padding: 4px;
}

.col-lg-3 .list-group {

  position: relative;
  max-width: 15rem;
  margin-bottom: 8rem;
} 

/* .fa.fa-handshake-o{
  margin-left: 1rem;
  margin-right: 3rem;
} */



.jumbotron
{
    /* color: #FFFFFF; */
    background-color:#FFFFFF;;
    position: relative;

}
/* alert title */
.jumbotron h1.display-4
{
  /* color:#00cc66 */
  color:black;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 300;
}
.jumbotron h3
{
  /* color:#00cc66 */
  /* color:grey; */
  opacity: 0.7;
  font-size: 2.5rem;
  /* text-transform: uppercase; */
  font-weight: 300;

}
.jumbotron p
{
  /* color:#00cc66 */
  color:black;
  opacity: 0.5;
}

.jumbotron .btn 
{
  /* color:#00cc66 */

  background-color: #FFFFFF;
  border: #FFFFFF;
  color: #6ca0dc;


}
container .h-100{
  position: relative;

}
.showDetail
{
  display:none;
  position: relative;
}
container .row{
  position: relative;
  text-align: center;
}

a
{
color: black
}


.col-sm-2 .text-left
{
  position: relative;
  justify-content: center;
}

.btn{
  margin-bottom: 1rem;
}

.list-group.list-group-flush{
  margin-left: 1rem;
}



.fa.fa-clock-o{
  margin-top: 1rem;
  margin-left: 1rem;
}

#voter p{
  /* padding-right: 1rem; */
  padding-left: 1rem;
}



#info{
  margin-bottom: 10rem;
}

.col-sm-10 {
  padding-left: 1rem;

}
.col-sm-10 .row{

  justify-content: center;
  position: relative;
}

#lets_vote{

    /* color:#00cc66 */
  /* color:grey; */
  margin-top: -5rem;
  opacity: 0.7;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 3rem;

}







