{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jacob Waldrip</title>
  <meta name="description" content="Personal Landing Page">
  <meta name="author" content="Jacob Waldrip">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

  <!-- JS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>

</head>

<body>

  <!-- Navbar ---------------------------------------------- -->
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            Jacob Cole Waldrip
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="//github.com/jakesboy2" target="_blank">Github</a>
        </div>
      </div>

  <!-- Content that child html files supply-->
  {% block content %}
  {% endblock %}

</body>
</html>
