{% extends 'base.html' %}
{% include "modals.html" %}
{% block content %}

<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(106, 200, 255);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(106, 180, 255);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
}
</style>

<br><h3 align="center">Meeting Creation for {% if project %}{{project.project_name }}{% endif %} </h3>

<div class="container">
  <form autocomplete="off" method="post">
    {% csrf_token %}
    <label for="date">Date:</label>
    <input type="text" id="dateOfMeeting" name="date" placeholder="Enter the date as mm/dd/yyyy"> 

    <label for="location">Location:</label>
    <input type="text" id="locationOfMeeting" name="Location" placeholder="Where we're meeting...">

    <label for="optionalMembers">Optional Attendance:</label>
    <select id="optionalMembers" name="optionalMembers" placeholder="Select">
      <option value="requiredMeeting">N/A</option>
      <option value="member1">Member1</option>
      <option value="member2">Member2</option>
      <option value="member3">Member3</option>
    </select>

    <label for="description">Description:</label>
    <textarea id="description" name="description" placeholder="What we'll be doing..." style="height:100px"></textarea>

    <input type="submit" value="Submit">
    <input type="submit" value="Cancel" action="edit_project.html">
  </form>
</div>

{% endblock %}