{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<div id="calendar"></div>
{% autoescape on %}
<div id="meetings_json" class="invisible">
    {{ meetings_json|safe }}
</div>
{% endautoescape %}
<script type='text/javascript'>
        let randomColor = "#" + Math.floor(Math.random() * 16777215).toString(16);
        const json_str = $('#meetings_json').text();
        const meetings = JSON.parse(json_str);
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                defaultView: 'month',
                themeSystem: 'bootstrap4',
                header: {
                    right: 'month,agendaWeek,agendaDay,today, ',
                    left: 'title',
                    center: ' prevYear,prev,next,nextYear'
                },
                views:{
                    week: {
                        minTime: "02:00:00",
                        maxTime: "23:00:00"
                    },
                    day: {
                        minTime: "02:00:00",
                        maxTime: "23:00:00"
                    }
                },
                eventSources:[
                    {
                        events: meetings,
                        allDayDefault: false
                    },
                ],
                eventColor: randomColor,
                editable: true,
                allDaySlot: false,
                selectable: true,
                fixedWeekCount: false,
                showNonCurrentDates: false,
            });

            //way to select the months for calendar for current year
            $(".fc-right").append('<select class="select_month"><option value="">Select Month</option><option value="1">Jan</option><option value="2">Feb</option><option value="3">March</option><option value="4">April</option><option value="5">May</option><option value="6">June</option><option value="7">July</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>');
           $(".select_month").on("change", function (event) {
                const month = this.value < 10 ? '0' + this.value.toString() : this.value.toString();
                $('#calendar').fullCalendar('changeView', 'month', "2020-" + month + "-01");
                $('#calendar').fullCalendar('gotoDate', "2020-" + month + "-01");
            });
        });
    </script>
{% else %}

<div class="container" style="width: 100%; max-width: 600px;">
    <h1 style="padding-top: 10%" class="text-center">Stop right there!</h1>
    <hr>
    <div class="text-center">
        <p>Unfortunately, this website isn't much use to you unless you're
            logged in! Luckily for you, we have an
            easy way to do that! Login or Register to use our service.</p>
        <hr>
        <a href="/meeting/login">
            <button style="width: 100%" class="btn btn-primary">Login</button>
        </a>
        <br><br>
        <a href="/meeting/register">
            <button style="width: 100%" class="btn btn-primary">Register</button>
        </a>
    </div>
</div>
{% endif %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"
    integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k="crossorigin="anonymous"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"
    integrity="sha256-QvhPq+evNjd8JyxSOU5KL3jPYTD7+gWVev1OH763SL0="crossorigin="anonymous"></script>
{% endblock %}