{% extends 'auth-base.html' %}
{% block content %}
    <canvas id="canvas"></canvas>
<div class = "fixed-top">
<form class="form-signin" method="POST" action="/meeting/login" >
  {% csrf_token %}
  <h4 class="h3 mb-3 font-weight-normal" style= "font-family: 'Rancho', cursive;" >Sign In</h4>

  <input type="text" name="inputUsername" class="form-control" placeholder="User Name" required autofocus>
  <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
  
  {% if errors %}
    <p style="color: red">Invalid Username and password combination.</p>
  {% endif %}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a class="btn btn-lg btn-primary btn-block" href="/meeting/register">Register</button></a>
</form>
    </div>
{% endblock %}

