<!-- Confirm Discard -->
<div class="modal fade" id="confirm-discard-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Discard changes?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure that you want to leave without saving your changes?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary do-discard">Discard my changes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, go back!</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Yeet -->
<div class="modal fade" id="confirm-yeet-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remove user?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure that you really want to remove this user?
      </div>
      <div class="modal-footer">
        <button id="yeet-member" type="button" class="btn btn-danger do-discard">Yup. Bye!</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, go back!</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Project Removal -->
<div class="modal fade" id="confirm-remove-project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete project?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure that you really want to delete this project?
      </div>
      <div class="modal-footer">
        <button id="yeet-project" type="button" class="btn btn-danger do-discard">Yup. Bye!</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, go back!</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Self-Yeet -->
<div class="modal fade" id="confirm-leave-project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Leave project?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure that you really want to leave this project?
      </div>
      <div class="modal-footer">
        <button id="yeet-self" type="button" class="btn btn-danger do-discard">Yup. Bye!</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, go back!</button>
      </div>
    </div>
  </div>
</div>

<!-- Invite Member -->
<div class="modal fade" id="invite-member-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Invite Someone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="yoink-error" style="color: red; display: none;">
          An error message.
        </p>
        <input type="text"
               class="form-control"
               id="invite-username"
               name="username"
               maxlength="100"
               placeholder="Enter a username here."
               value="" />
      </div>
      <div class="modal-footer">
        <button id="yoink-member" type="button" class="btn btn-primary">Invite</button>
      </div>
    </div>
  </div>
</div>

<!-- Accept Invitation -->
<div class="modal fade" id="accept-invitation-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Accept invitation?</h5>
      </div>
      <div class="modal-body">
        Would you like to accept the invitation to this project?
      </div>
      <div class="modal-footer">
        <button id="yeet-invite" type="button" class="btn btn-danger">Reject</button>
        <button id="yoink-invite" type="button" class="btn btn-success">Accept</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Meeting Removal-->
<div class="modal fade" id="confirm-remove-meeting-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete meeting?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you really want to delete this meeting?
      </div>
      <div class="modal-footer">
        <button id="confirm-meeting-deletion" type="button" class="btn btn-danger do-discard">Yes Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Maybe Not</button>
      </div>
    </div>
  </div>
</div>