{% extends 'auth-base.html' %}

{% block content %}
<form class="form-signin" method="POST" action="/meeting/register">
  {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Register</h1>
  
  <input type="text" name="inputUsername" class="form-control" placeholder="User Name" required autofocus>
  {% if errors.usernameEmpty %}
    <p style="color: red">Required Field.</p>
  {% endif %}
  {% if errors.usernameDuplicate %}
    <p style="color: red">This username is taken, please try again.</p>
  {% endif %}
  
  <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
  {% if errors.passwordEmpty %}
    <p style="color: red">Required Field.</p>
  {% endif %}

  <input type="password" name="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
  {% if errors.confirmEmpty %}
    <p style="color: red">Required Field.</p>
  {% endif %}

  {% if errors.passwordMatch %}
    <p style="color: red">Passwords do not match.</p>
  {% endif %}

  <input type="text" name="inputDisplayName" class="form-control" placeholder="Display Name" required>
  {% if errors.displayEmpty %}
    <p style="color: red">Required Field.</p>
  {% endif %}
  
  <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 0.5em;">Register</button>
</form>
{% endblock %}