<div class="container h-100  ">

        <div class="row">
            <div class="col">
            <div class=" mx-auto">
                <div class="jumbotron  text-center">
                    {% if not state_ready %}
                    <h1 class="display-4">Closed now</h1>
                    <hr>
                    <p class="lead">Voting Start after all team member submit their available times! </p>
                    {% elif state_review %}
                    <h1 class="display-4">Review your time slots!</h1>
                    <hr>
                    <p class="lead">No meeting time option is found!</p>
                    {% elif state_ready and not state_no_vote and not voted_slot%}
                    <h1 class="display-4">Open now!</h1>
                    <hr>
                    <p class="lead">Voting Started! </p>
                    {% elif voted_slot %}
                    <h1 class="display-4">You Voted!</h1>
                    <hr>
                    <p class="lead">Wait for other team members to finish voting!</p>
                    {% endif %}

                </div>
            </div>
            </div>

        </div>
    </div>