{% extends 'base.html' %}
{% block content %}

<!-- Page Content -->


<div class="container">
    <div class="row ">

        {% include "voting/voting_pane.html" %}

        {% if state_closed%}
        {% include "voting/vote_closed.html" %}
        {% elif fifty_fifty_votes%}
        {% include "voting/fifty_fifty_votes.html" %}
        {% elif state_no_vote%}
        {% include "voting/no_vote.html" %}
        {%else%}
        {% include "voting/alert.html" %}
        {%endif%}
        <div class="col text-center ">
            <button class="btn btn-primary " onclick="showDetail()">See Detail!</button>
            <div id="showDetail" style="display: none">

                <div class="jumbotron mt-4 ">
                    <div id="avlb-meeting-selected">
                        <input type="hidden" id="meeting-start-date" value="{{ active_meeting.start_date }}">
                        <input type="hidden" id="meeting-end-date" value="{{ active_meeting.end_date }}">

                        <div id="info">
                            <h3 class="mt-3 mb-4">
                                Meeting Date
                            </h3>
                            <div>
                                <p class="lead">{{ active_meeting.start_date }} - {{ active_meeting.end_date }}</p>
                            </div>
                        </div>
                        <div id="info">
                            <h3 class="mt-5 mb-4">My Available Time</h3>
                            {% if time_slots %}
                            <!-- existing time-slots -->
                            {% for slot in time_slots %}
                            <div>
                                <p class="lead"> From {{ slot.start_time }} To {{ slot.end_time }}</p>
                            </div>
                            {% endfor %}
                            <!-- end existing time-slots -->
                            {% else %}

                            <p class="lead">Submit your availability</p>

                            {% endif %}
                        </div>
                        <div id="info">
                            <h3 class="mt-5 mb-4"> Members</h3>

                            <!-- existing time-slots -->
                            {% for member in team %}

                            <p class="lead"> {% if member.name %}
                                {% if not member.isUser %}
                                <i class="fa fa-user fa-lg"></i> {{ member.name }}
                                {% endif %}
                                {% else %}
                                {% if not member.isUser %}
                                <i class="fa fa-user fa-lg"></i> No Name:
                                {% endif %}
                                {% endif %}</p>

                            {% if not member.isUser %}
                            {% if member.slots_submitted%}
                            <!-- For debugging -->
                            {% for slots in member.timeSlots %}
                            <div>
                                <p class="lead">From {{ slots.start_time }} To {{ slots.end_time }}</p>
                            </div>
                            {% endfor %}
                            <!-- For debugging -->
                            <!-- &nbsp; <font color="green">Submitted</font> -->
                            {% else %}
                            &nbsp; <font color="red">No available slot</font>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            <!-- end existing time-slots -->
                        </div>
                        <!-- end meeting selected div -->
                    </div>
                </div>

                {% if state_ready %}

                <div class="jumbotron">
                    <div id="lets_vote">
                        <h1 class="display-4">Let's Vote!</h1>
                    </div>
                    {% if meeting_time_options %}
                    <ul class="list-group list-group-flush">
                        {% for timeslot in meeting_time_options %}
                        <form action="" method='post'>
                            {% csrf_token %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-10 text-center">
                                        <div class="row ">

                                            <p class="lead"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                From
                                                {{timeslot.start_time}} to {{timeslot.end_time}}</p>
                                        </div>
                                        <div class="row" id="voter">
                                            {%for vote in votes%}
                                            {% if vote.meeting_time_option.start_time == timeslot.start_time%}
                                            {% if vote.user.user.username%}
                                            <p class=""><i class="fa fa-user fa-lg"></i> {{vote.user.user.username}}</p>
                                            {% else %}
                                            <p class=""><i class="fa fa-user fa-lg"></i> No Name</p>
                                            {%endif%}
                                            {%endif%}
                                            {%endfor%}
                                        </div>
                                        <input type="hidden" name="id" value="{{ timeslot.id }}" />
                                    </div>
                                    <div class="col-sm-2 text-left">
                                        {% if state_no_vote %}
                                        <p><font color="red">No voting needed! </font></p>

                                        {% else %}

                                        {% if voted_slot%}
                                        {% for slot in voted_slot %}
                                        {% if slot == timeslot %}
                                        <form action="" method='post'>
                                            <input type="hidden" name="delete" value="delete" />
                                            {% if fifty_fifty_votes or state_closed%}
                                            <button class="btn btn-primary mt-2" type="submit" onclick="post"
                                                disabled><i class="fa fa-thumbs-down fa-2x"></i>Unvote</button>
                                            {% else %}
                                            <button class="btn btn-primary mt-2" type="submit" onclick="post"><i
                                                    class="fa fa-thumbs-down fa-2x"></i>Unvote</button>
                                            {% endif%}
                                        </form>
                                        {% endif%}
                                        {%endfor%}

                                        {% else %}
                                        {% if fifty_fifty_votes or state_closed%}
                                        <div id="btn1">
                                            <button class="btn btn-primary mt-2" type="submit" onclick="post" disabled><i
                                                    class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                                                <p>Vote</p>
                                            </button>
                                        </div>
                                        {% else %}
                                        <div id="btn1">
                                            <button class="btn btn-primary mt-2" type="submit" onclick="post"><i
                                                    class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i> Vote</button>
                                        </div>
                                        {% endif%}

                                        {% endif%}
                                        {% endif %}


                                    </div>
                                </div>
                            </li>
                        </form>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <h5 class='card-body'>
                        <font color="red">No Option
                        </font>
                    </h5>

                    {% endif %}
                </div>



                {% else %}
                <!-- <div class="jumbotron mt-4">
                    Voting starts after all members submit thier availability
                </div> -->
                {% endif %}

            </div>

        </div>


        <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->

{% autoescape on %}
<!-- <script> -->

<div id="time_slots_json" class="invisible">
    {{ time_slots_json|safe }}
</div>

<!-- </script> -->
{% endautoescape %}

</div>
<!-- /.container -->
{% include "voting/js.html" %}
{% endblock %}