
    <div class="container h-100  ">

        <div class="row align-items-center h-100">

            <div class="col align-items-center">
            <div class=" mx-auto">
                <div class="jumbotron  text-center">
                    <h1 class="display-4"><font color="green">Result</font></h1>
                    <hr>
                    <p class="lead">Meeting Time is now available! </p>
                    <p > Vote session was skipped since we find only one meeting time option!</p><br>
                    <h5> {{meeting_time.start_time}} to {{meeting_time.end_time}} </h5>
                </div>
            </div>
            </div>

        </div>
    </div>


