
    <div class="container h-100  ">

        <div class="row align-items-center h-100">

            <div class="col align-items-center">
            <div class=" mx-auto">
                <div class="jumbotron  text-center">
                    <h1 class="display-4">No vote</h1>
                    <hr>
                    <!-- <p class="lead">Meeting Time is now available! </p> -->
                    <p id ="explain"class="lead mb-5">Vote session was skipped </p>
                    <h5 class="lead mt-5 mr-4"><i class="fa fa-check fa-2x"></i> {{meeting_time.start_time}} to {{meeting_time.end_time}} </h5>                                    
                    <!-- <p class="lead mb-5"> {{meeting_time.start_time}} to {{meeting_time.end_time}} </p> -->
                </div>
            </div>
            </div>

        </div>
    </div>


