<div class="col-lg-3">
    <!-- <h1 class="mt-4"><button class="btn-title"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button> Vote</h1> -->
    <h1 class="mt-4"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Vote</h1>
    <div class="list-group mt-4 text-center ">
        {% if meeting_list %}
        {% for meeting in meeting_list %}
        <a href="/meeting/voting/{{ meeting.meeting.id }}"
            class="list-group-item {% if meeting.meeting.id == active_meeting.id %} list-group-item-action active {%else%} list-group-item-action {% endif %}">
             {{ meeting.meeting.id }}: {{ meeting.meeting.description }}
        </a>
        {% endfor %}
    </div>
    <div>
        {% else %}
        <!-- <p>No meetings are available.</p> -->
        <div style="padding-bottom: 0.5em;">
            You haven't been invited to any meetings.
        </div>
        {% endif %}
    </div>
</div>
<!-- /.col-lg-3 -->