<div class="col-lg-3 mt-2 mb-5">
    <h1 class="mt-4"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Vote</h1>
    {% if meeting_list %}
    <div id="dropdown-title">
            {%if meeting%}
            <div id="title-info">
                <p id="p1">Project:</p>
                <p id="m1">Meeting:</p>
            </div>
            <div id="title-info">
               <p id="p2">{{project.project_name}}</p>
               <p id="m2">{{meeting.title}}</p>
            </div>
            {%else%}
            Select a meeting!
            {%endif%}
    </div>
    <div id="myDropdown" class="dropdown mt-3 mb-5 list-group text-center">
        <div id="s"><p><i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i></p>
        </div>
        <ul id="mddm" class="dropdown-menu text-center " >
            <h6 class="dropdown-header">Projects</h6>
            {% for key, value in project_list.items %}
            {% for project in value %}
            <div id="dropdown-lst">
            <li  class="dropdown-submenu list-group-item-action">
                <a class="test dropdown-item" tabindex="-1" href="#">
                    <p>{{ project.project_name }}</p>
                    <span class="caret"></span>
                </a>
                <ul id="mddsm" class="dropdown-menu text-center ">
                    <h6 class="dropdown-header">Meetings</h6>
                    {% for meeting in meeting_list %}
                    {% if meeting.project == project%}
                    <li id="dropdown-lst" class=" list-group-item-action">
                        <a  class="test dropdown-item" tabindex="-1"href="/meeting/voting/{{ meeting.id }}">
                            <p>{{ meeting.title }}</p>
                        </a>
                    </li>
                    {%endif%}
                    {% endfor %}
                </ul>
            </li>
        </div>
            {%endfor%}
            {%endfor%}
        </ul>
    </div>

    {% else %}
    <!-- <p>No meetings are available.</p> -->
    <div style="padding-bottom: 0.5em;">
        <p class="lead">You haven't been invited to any meetings.</p>
    </div>
    {% endif %}

</div>
<!-- /.col-lg-3 -->