{% extends 'base.html' %}
{% block content %}
{% include "modals.html" %}

<style>
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  input[type=text],
  select, textarea {
    width: 100%;
    padding: 5px;
    border: .5px solid cadetblue;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=date], .final_date{
    border: .5px solid cadetblue;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding: 2px;
  }

  .button-create-meeting {
    background-color: rgb(16, 184, 66);
    color: white;
    padding: 7px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .button-create-meeting:hover {
    background-color: rgb(16, 184, 106);
  }

  .button-delete-meeting {
    background-color: rgb(255, 24, 24);
    color: white;
    padding: 7px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .button-delete-meeting:hover {
    background-color: rgb(255, 54, 24);
  }

  .button-back-meeting {
    background-color: rgb(0, 7, 99);
    color: white;
    padding: 7px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .button-back-meeting:hover {
    background-color: rgb(0, 57, 99);
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
  }
</style>  


<br><h2 align="center">Meeting Creation for {% if project %}{{project.project_name }}{% endif %} </h2>

<div class="container">
  <form action="" method="post">
    {% csrf_token %}
    {{form.post}}

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" placeholder="Title of the meeting..." required>
    
    
    <label for="location">Location:</label>
    <input type="text" id="locationOfMeeting" name="location" placeholder="Where we're meeting..." required>


    
    <label for="optionalMembers">Optional Attendance:</label>
      

    <select id="optionalMembers" name="optional_members" placeholder="Select" multiple="multiple" required>
            
      <option selected="Required Meeting" value="required_meeting">Required Meeting</option>
            {% for member in team %}
              <option value="{{member.user.display_name}}">{{member.user.display_name}}</option>
            {% endfor %}
    </select>
    
    <label for="description">Description:</label>
    <textarea id="description" name="description" placeholder="What we'll be doing..." style="height:100px" required></textarea>
  
    <label for="date">Meeting Dates:</label><br>
    
    <label for="start_date">Start:</label>
    <input type="date" id="start_date" name="start_date" required>
    <label for="end_date">End:</label>
    <input type="date" id="end_date" name="end_date" required>
    <br><br>
  
    <div style="text-align: center;">
    <button class="button-create-meeting" onclick="return confirm('You are about to create a meeting!!')">Submit</button>
    <a href="../../../../projects"><button type="button" class="button-back-meeting">Back</button></a>

  </form>
</div>

{% endblock %}